<html>
    <title>Index</title>

    <body>
        <script>
            function boton_Buscar(valor) {
                var x = valor 
                document.getElementById("botonbuscar1").Value = x 
                alert(x)
                }</script>
        <H4>Bienvenido Fren! Esta es la pagina que te mostrara mi base de datos de slangs panamenos</H4>
        <input class="width150" type="text" id="botonbuscar1" value=""></input>
        <button type="button" onclick="boton_Buscar(botonbuscar1)" class = "botoBuscar">Buscar!</button>
    </body>

</html>